.headShop{
     background-image: url(../../../../public/images/pexels-aaron-ulsh-2860705.png); 
    background-position: center;
   background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 80vh;
  /* margin-top: 50px; */
  z-index: -3;
  margin-bottom: 80px;
}
.headShop h1{
    color: white;
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 55px;
    margin-top: 25%;
}
.headShop .headShop-image img{
    height: 75%;
    margin-top: 15%;
    z-index: 1;
}
.headShop .headShop-image{
    align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 80vh;
}
.headShop .largeCircle{
    border-radius: 50%;
    background-color: #0B69BB;
    width: 190px;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 34%;
    z-index: -2;
}
.headShop .smallCircle{
    border-radius: 50%;
    background-color: #0396A6 ;
    width: 97px;
    height: 90px;
    position: absolute;
    top: 62%;
    left: 35%;
    z-index: -1;
}
.fill-largeCircle{
    border: 5px;
}
.fill-smallCircle{
    background-color: black ;
}
@media (max-width: 1199px) {
    .headShop h1{
        font-size: 50px;

    }
    .headShop .largeCircle{
        position: absolute;
        top: 33%;
        left: 29%;
        width: 190px;
         height: 190px;
    }
    .headShop .smallCircle{
        position: absolute;
        top: 59%;
        left: 32%;
    }
}
@media (max-width: 992px) {
    .headShop h1{
        font-size: 42px;
    }
    .headShop .largeCircle{
        position: absolute;
        top: 34%;
        left: 31%;
    }
    .headShop .smallCircle{
        position: absolute;
        top: 60%;
        left: 33%;
    }
}
@media (max-width: 992px) {
    .headShop h1{
        font-size: 42px;
    }
    .headShop .largeCircle{
        position: absolute;
        top: 34%;
        left: 31%;
    }
    .headShop .smallCircle{
        position: absolute;
        top: 60%;
        left: 33%;
    }
}
@media (max-width: 991px) {
    .headShop h1{
        font-size: 39px;
    }
    .headShop .largeCircle{
        position: absolute;
        top: 30%;
        left: 23%;
    }
    .headShop .smallCircle{
        position: absolute;
        top: 58%;
        left: 25%;
    }
}
@media (max-width: 767px) {
    .headShop h1{
        font-size: 30px;
        margin-top: 10%;
    }
    .headShop .largeCircle{
        position: absolute;
        top: 24%;
        left: 33%;
        width: 120px;
         height: 120px;
    }
    .headShop .smallCircle{
        position: absolute;
        top: 40%;
        left: 33%;
        width: 77px;
        height: 80px;
    }
    .headShop .headShop-image img{
        height: 50%;
        margin-top: 10%;
        margin-left: -10%;
    }
}
@media (max-width: 520px) {
    .headShop h1{
        font-size: 30px;
        margin-top: 10%;
    }
    .headShop .largeCircle{
        position: absolute;
        top: 23%;
        left: 35%;
        width: 100px;
         height: 100px;
    }
    .headShop .smallCircle{
        position: absolute;
        top: 35%;
        left: 34%;
        width: 70px;
        height: 75px;
    }
    
}