.rapborder{
    margin-top: 70px;
    margin-bottom: 100px;
    box-shadow: 7px 3px 30px rgb(239, 234, 234);
    border-radius: 18px;
    padding: 70px; 
}
.abutpara{
    text-align: center;
    color: #0396A6;
}
.explainn{
    width: 74%;
    color: #0396A6;
}
.para-explain{
    color: black;
    font-size: 16px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.margrow{
    margin-top: 200px;
    padding-top: 130px;
}
