.cart-section {
    margin-top: 75px;
    margin-bottom: 70px;
  }
  .cart-section h2 {
    margin-bottom: 60px;
  }
  .cart-details {
    box-shadow: 2px 2px 10px rgb(216, 213, 213);
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .cart-details img {
    height: 70px;
    width: 60px;
  }
  .cart-count .count-h4{
      color: white;
      margin-left: 25px;
      margin-top: 0px;
      float: left;
      font-size: 19px;
  }
  .cart-count{
      border-radius: 20px;
      background-color: #0396A6;
      height: 23px;
      margin-top: 20px;
      overflow: hidden;
      /* width: 100px; */
  }
  .cart-count button{
      float: left;
      overflow: hidden;
      margin-top: -7px;
      font-size: 23px;
      font-weight: bold;
      text-align: center;
      padding-top: -20px;
      padding-bottom: 0px;
      display: block;
      height: 33px;
      background-color: #0396A6;
  }
  .cart-count .mins{
      margin-left: 25px;
    }
    @media (max-width:1920px) {
      .cart-count .mins{
        margin-left: 27px;
      }
      .cart-count .count-h4{
        margin-left: 30px;
    }
    }
  @media (max-width: 1199px) {
      .cart-count .mins{
        margin-left: 6px;
      }
      .cart-count .count-h4{
          margin-left: 10px;
      }
  }
  @media (max-width: 990px) {
      .cart-count .mins{
        margin-left: 15px;
      }
      .cart-count .count-h4{
          margin-left: 15px;
      }
      /* .cart-eliminate{
       margin-right: -40px;
       
      } */

  }
  @media (max-width: 767px) {
      .cart-count .mins{
        margin-left: 35px;
      }
      .cart-count .count-h4{
          margin-left: 30px;
      }
      .cart-count{
          width: 150px;
          margin: auto;
      }
  }
  .cart-details .cart-eliminate:hover{
      background-color: #0b69bb;
  }
  .cart-details .cart-eliminate {
    border-radius: 50%;
    text-align: center;
     border: none;
     color: white;
     background-color: #0396A6;
     margin-top: 16px;
     padding:3px 8px;
  }
  .cart-details button {
    text-align: center;
    border: none;
    color: white;
    /* background-color: #0396a6; */
    /* margin-top: 20px; */
  }
  .cart-details .norm-h4 {
    font-size: 18px;
    margin-top: 20px;
  }
  .cart-details p {
    font-size: 13px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .summary-details {
    box-shadow: 2px 2px 10px rgb(216, 213, 213);
    border-radius: 10px;
    padding: 20px 15px 20px 30px;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
  }
  .summary-details th {
    color: #0396a6;
    line-height: 3em;
    font-weight: 500;
  }
  .summary-details hr {
    color: #0396a6;
    margin-top: 30px;
    border-top: 2px solid #0396a6;
  }
  .summary-details input::placeholder {
    font-size: 13px;
    padding-left: 15px;
  }
  .summary-details input[type="text"] {
    border: 0.3px solid #0396a6;
    margin-top: -40px;
  }
  .summary-details button {
    width: 10em;
    background-color: #0b69bb;
    color: white;
  }
  .summary-details button:hover {
    background-color: #0396a6;
    color: white;
  }
  