.logoImg {
  height: 25px;
  margin-left: 60px;
}
.Home_link {
  color: #0396a6 !important;
  font-weight: 500;
}
.navLink li {
  margin-right: 77px;
}

.navLink {
  margin-right: 24px;
}
.dropdown-menu li{
  margin-right: 0 !important;
  text-align: center;
  width: unset !important;
}
.dropdown-menu{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dropdown-menu::after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -25%;
  left: 23px;
  border: 10px solid;
  border-color: transparent transparent #ccc transparent;
  z-index: 999;

}
.nav-icon {
  margin-right: -70px;
  margin-left: -70px;
}
.nav-icon a {
  color: #0b69bb;
  font-size: 18px;
}
@media (max-width: 1100px) {
  .navLink li {
    margin-right: 60px;
  }
}
@media (max-width: 980px) {
  .nav-icon {
    margin-left: 20px;
  }
}

/* userLoggedInWrapper */
.lastNavIcon{
  position: relative;
}
.userLoggedInWrapper{
  position: absolute;
  top: 45px;
  left: -140px;
  background-color: #fff;
  border: 1px solid #88888857;
  padding: 20px;
  border-radius: 10px;
  z-index: 111111;
  width: 160px;
}
.userLoggedInWrapper hr {
  margin: 5px 0px;
}
.ioCloseIcon{
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
}
.userLoggedInWrapper a{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #666;
  transition: .5s;
}
.userLoggedInWrapper a:hover{
  color: #0878da;
}